<a href="https://colab.research.google.com/github/lucasquemelli/House_Rocket_Machine_Learning/blob/main/House_Rocket_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import plotly.express as px

from scipy import stats
from matplotlib import pyplot as plt

# 1. Exploratory Data Analysis

In [2]:
url = 'https://raw.githubusercontent.com/lucasquemelli/House_Rocket/main/kc_house_data.csv'
data = pd.read_csv(url)

# 1.1 Data Description

In [3]:
data

               id             date  ...  sqft_living15  sqft_lot15
0      7129300520  20141013T000000  ...           1340        5650
1      6414100192  20141209T000000  ...           1690        7639
2      5631500400  20150225T000000  ...           2720        8062
3      2487200875  20141209T000000  ...           1360        5000
4      1954400510  20150218T000000  ...           1800        7503
...           ...              ...  ...            ...         ...
21608   263000018  20140521T000000  ...           1530        1509
21609  6600060120  20150223T000000  ...           1830        7200
21610  1523300141  20140623T000000  ...           1020        2007
21611   291310100  20150116T000000  ...           1410        1287
21612  1523300157  20141015T000000  ...           1020        1357

[21613 rows x 21 columns]

In [7]:
def data_shape(data):
    print("Shape of the dataset")
    print("\nNumber of rows: {}\nNumber of columns: {}".format(data.shape[0],data.shape[1]))
    
    return None

def num_attributes(data):
    num_attributes = len(data.columns) - 2
    print("\n\nThe number of attribute is:", num_attributes)
    
    return num_attributes

def attributes(data):
    attributes = data.drop(['id','date'], axis=1)
    print("\n\nThe attributes are:\n\n",attributes.columns.tolist())
    
    return attributes

def data_info(data):
    print("\n\nData types\n")
    data.info()
    
    return None

def descriptive_analysis(data):
    pd.set_option('display.float_format', lambda x: '%.2f' % x)
    print("\n\nDescriptive analysis:\n\n",data.describe().T)
    
    return None

def display(data):
    #Displaying unique values for the number of bedrooms, bathrooms, floors, waterfront, view, condition and grade
    print("\n\nAttributes unique values")
    print("\n\nUnique values for bedrooms:", np.sort(data['bedrooms'].unique())) 
    print("\nUnique values for bathrooms:", np.sort(data['bathrooms'].unique()))
    print("\nUnique values for floors:", np.sort(data['floors'].unique()))
    print("\nUnique values for waterfront:", np.sort(data['waterfront'].unique()))
    print("\nUnique values for view:", np.sort(data['view'].unique()))
    print("\nUnique values for condition:", np.sort(data['condition'].unique()))
    print("\nUnique values for grade:", np.sort(data['grade'].unique()))
    
    return None

if __name__ == '__main__':
    
    data_shape(data)
    
    num_attributes = num_attributes(data)
    
    attributes = attributes(data)
    
    data_info(data)
    
    descriptive_analysis(data)
    
    display(data)

Shape of the dataset

Number of rows: 21613
Number of columns: 21


The number of attribute is: 19


The attributes are:

 ['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long', 'sqft_living15', 'sqft_lot15']


Data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB


Descriptive analysis:

                  count          mean  ...           75%           max
id            21613.00 4580301520.86  ... 7308900445.00 9900000190.00
price         21613.00     540088.14  ...     645000.00    7700000.00
bedrooms      21613.00          3.37  ...          4.00         33.00
bathrooms     21613.00          2.11  ...          2.50          8.00
sqft_living   21613.00       2079.90  ...       2550.00      13540.00
sqft_lot      21613.00      15106.97  ...      10688.00    1651359.00
floors        21613.00          1.49  ...          2.00          3.50
waterfront    21613.00          0.01  ...          0.00          1.00
view          21613.00          0.23  ...          0.00          4.00
condition     21613.00          3.41  ...          4.00          5.00
grade         21613.00          7.66  ...          8.00         13.00
sqft_above    21613.00       1788.39  ...       2210.00       9410.00
sqft_basement 21613.00        291.51  ...        560.00       4820.00
yr_built      21613.00       1971.01  ...       1997.00       2015.00
yr_renovated  21613.00         84.40  ...          0.00       2015.00
zipcode       21613.00      98077.94  ...      98118.00      98199.00
lat           21613.00         47.56  ...         47.68         47.78
long          21613.00       -122.21  ...       -122.12       -121.31
sqft_living15 21613.00       1986.55  ...       2360.00       6210.00
sqft_lot15    21613.00      12768.46  ...      10083.00     871200.00

[20 rows x 8 columns]


Attributes unique values


Unique values for bedrooms: [ 0  1  2  3  4  5  6  7  8  9 10 11 33]

Unique values for bathrooms: [0.   0.5  0.75 1.   1.25 1.5  1.75 2.   2.25 2.5  2.75 3.   3.25 3.5
 3.75 4.   4.25 4.5  4.75 5.   5.25 5.5  5.75 6.   6.25 6.5  6.75 7.5
 7.75 8.  ]

Unique values for floors: [1.  1.5 2.  2.5 3.  3.5]

Unique values for waterfront: [0 1]

Unique values for view: [0 1 2 3 4]

Unique values for condition: [1 2 3 4 5]

Unique values for grade: [ 1  3  4  5  6  7  8  9 10 11 12 13]

**Meaning of the attributes**

- ID: identification number
- date: period in which the properties were available
- bedrooms: number of bedrooms
- bathrooms: number of bathrooms
- floors: number of floors
- waterfront: if some property has waterfront or not (0 or 1)
- view: number of views
- condition: condition of the properties (1 to 5)
- grade: quality of the building and construction level
- price: price of the property
- sqft_living: living room built area [ft²]
- sqft_lot: lot area [ft²]
- sqft_above: built area above ground level [ft²]
- sqft_basement: built basement area [ft²]
- yr_built: year that the property was built
- yr_renovated: year of renovation
- sqft_living15: average built area of the 15 nearest neighboring properties [ft²]
- sqft_lot15: average lot area of the 15 nearest neighboring properties [ft²]
- zipcode: number of zipcode
- lat: latitude identification number
- long: longitude identification number

# 1.2 Data Cleaning

In [8]:
def missing_values(data):
    print("Missing values\n")
    print(data.isna().sum())
    
    return None

def ids(data):
    ids = data['id']
    
    return ids

def duplicates_id(data):
    print("\n\nDuplicates\n")
    print(data[ids.isin(ids[ids.duplicated()])].sort_values('id'))
    
    return None

if __name__ == '__main__':
    
    missing_values(data)
    
    ids = ids(data)
    
    duplicates_id(data)

Missing values

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64


Duplicates

               id             date     price  ...    long  sqft_living15  sqft_lot15
2497      1000102  20150422T000000 300000.00  ... -122.21           2060        7316
2496      1000102  20140916T000000 280000.00  ... -122.21           2060        7316
16814     7200179  20141016T000000 150000.00  ... -122.21           1480        6969
16815     7200179  20150424T000000 175000.00  ... -122.21           1480        6969
11434   109200390  20141020T000000 250000.00  ... -122.37           1830        6956
...           ...              ...       ...  ...     ...            ...         ...
6345   9828200460  20140627T000000 260000.00  ... -122.30           1440        4800
15200  9834200305  20150210T000000 615000.00  ... -122.29           1360        4080
15199  9834200305  20140716T000000 350000.00  ... -122.29           1360        4080
1085   9834200885  20140717T000000 360000.00  ... -122.29           1340        4080
1086   9834200885  20150420T000000 550000.00  ... -122.29           1340        4080

[353 rows x 21 columns]